# Environnements virtuels
.venv/
venv/
ENV/
env/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Fichiers de données et logs générés
logs/
*.csv
*.bin
*.log

# Dossiers d'archives (optionnel)
archive/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
